<!DOCTYPE html>
<html>
<head>
    <title>Crear Nuevo Producto</title>
</head>
<body>
    <h1>Crear Nuevo Producto</h1>
    <form action="/create-product" method="POST">
        <input type="text" name="name" placeholder="Nombre">
        <input type="number" name="price" placeholder="Precio">

        <input type="number" name="raiting" placeholder="Rating">
        <input type="text" name="description" placeholder="Descripción">
        <input type="file" name="image" placeholder="imagen">
        <input type="text" name="category" placeholder="Categoria">
        <input type="number" name="stockQuantity" placeholder="Cantidad">
     

        <button type="submit">Crear Producto</button>
    </form>
</body>
</html>